<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">otoBuy</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/otobuy/customer/home">Home</a></li>
        <li><a href="/otobuy/customer/history">History</a></li>
        <li><a href="/otobuy">logout</a></li>
        </ul>
    </div>
</nav>