<!-- <div class="navbar">
    <ul id="menu">
        <li>Home</li>
        <li>Chart</li>
        <li>Setting</li>
        <li><a href="">logout</a></li>
        <li><a href="/otobuy/customer/home">Home</a></li>
        <li><a href="/otobuy/customer/history">History</a></li>
    </ul>
</div> -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/otobuy">logout</a></li>
        <li><a href="/otobuy/customer/home">Home</a></li>
        <li><a href="/otobuy/customer/history">History</a></li>
        </ul>
    </div>
    </nav>