<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="path/to/chartjs/dist/Chart.js"></script>
        <script>
            var fillChart = document.getElementById()
            var myChart = new Chart(ctx, {
                type : 'pie',
                data : {

                },
                options : options
            });
        </script>
    <title>Chart</title>
</head>
<body>
    
</body>
</html>