<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        <title>Register Account</title>
    </head>
    <body>
        <% if(error) { %>
        <h5><%- error %></h5>
        <% } %>
        <form id="login" method="POST" action="/register">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName"><br>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName"><br>
            <label for="username">Email: </label>
            <input type="username" name="username"><br>
            <label for="password">Password</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Register"> 
        </form>
    </body>
</html>