<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <%- include('./partials/navbar-cust.ejs')%>
         <table id="listItemCustomer">
            <td>
                <th>Car Name</th>
                <th>Category</th>
                <th>Amount Buying</th>
                <th>Action</th>
            </td>
        </table>
    </body>
</html>