<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs')%>
        <title>Success Transaction</title>
    </head>
    <body>
        <%- include('../partials/navbar-cust.ejs')%>
        <br>
        <h1>Transaction has been successfully processed</h1>
    </body>
</html>